.payment-info {
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    border: 3px solid #4f539c;
  }
  
  .product-details {
    padding: 10px;
  }
  
  body {
    background: #eee;
  }
  
  .cart {
    background: #fff;
  }
  
  .p-about {
    font-size: 12px;
  }
  
  .table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
  }
  
  .type {
    font-weight: 400;
    font-size: 10px;
  }
  
  label.radio {
    cursor: pointer;
  }
  
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }
  
  label.radio input:checked + span {
    border-color: #000;
    background-color: rgba(95, 207, 90, 0.851);
    color: #fff;
  }
  

  
  .credit-inputs {
    border-color: rgb(102,102,221)!important;
  }
  
  .credit-inputs::placeholder {
    font-size: 13px!important;
  }
  
  .credit-card-label {
    font-size: 9px!important;
    font-weight: 300!important;
  }
  
  .form-control.credit-inputs:focus {
    background: rgb(238, 238, 239)!important;
    border: rgb(96, 96, 98)!important;
  }
  
  .line {
    border-bottom: 1px solid rgb(102,102,221);
  }
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
  }
  
  .spec {
    font-size: 11px;
  }