
.product-container{
    font-family: 'Dosis', sans-serif;
    color:#900021;
}

.product-counter{
    display:inline-block;
}

.product-counter input[type='text']{
    font-family: 'Abril Fatface', cursive;
    font-weight:bold;
    outline-style:none;
    text-align:center;
    height: 50px;
    width: 100px;
    margin-left: -4px;
    position: relative;
    top: -7px;
    padding: 0 10px;
    background:#f2c400;
    border: none;
    color: #d0fcfb;
}
.product-counter input[type='button']{
    background-color:#b5a14a;
    cursor:pointer;
    outline-style: none;
    width: 50px;
    height: 50px;
    border: 0;
    color: #d0fcfb;
    text-align: center;
    line-height: 26px;
    font-size: 36px;
    font-family:'Dosis', sans-serif;
}
input[type='button']#minus{
    border-radius: 10px 0 0 10px;
}
input[type='button']#plus{
    border-radius: 0 10px 10px 0;
    margin-left: -4px;
}